# This in an example file
#
# Install 'direnv' package and run 'direnv allow .' in order to load
# all the environment variables

export PORT=

# https://www.mongodb.com/docs/drivers/go/current/usage-examples/#connection-string
export MONGODB_URI=
