# This in an example file
#
# Install 'direnv' package and run 'direnv allow .' in order to load
# all the environment variables

export PORT=

# https://www.mongodb.com/docs/drivers/go/current/usage-examples/#connection-string
export MONGODB_URI=

export JWT_SECRET=

# Required for Goose to work properly
export GOOSE_DRIVER="sqlite" # it may be 'postgres' as well
export GOOSE_DBSTRING="./local.db"
export GOOSE_MIGRATION_DIR="migrations"
